.home-contianer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-bg.png');
  background-size: cover;
  min-height: 90vh;
  color: #ffffff;
}

.home-para {
  margin-top: 0px;
}

@media (min-width: 768px) {
  .home-para {
    width: 60%;
  }
}

.find-jobs-button {
  background-color: #6366f1;
  border-radius: 9px;
  border: none;
  height: 40px;
  color: white;
  font-size: 15px;
}

@media (min-width: 768px) {
  .home-contianer {
    background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  }
}
